* {
	line-height: 1.6;
	text-align: center;
	margin: 0 auto;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	font-family: "Montserrat", sans-serif;
	background-color: #fef9f8;
	color: #0d0d0d;
	left: 0;
}

/* General Styling */

.grid {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 700px) {
	.grid {
		grid-template-columns: 1fr 1fr;
	}
}

.grid div {
	margin: 1em;
}

.hero,
.about-me,
.competencies,
.contact {
	margin: 4em 0;
}

a {
	color: #ef9273;
	font-weight: bold;
}

.highlight {
	color: #ef9273;
	font-weight: 500;
}

/* Hero  */

.hero {
	padding: 3em 0;
}

.hero h2 {
	font-size: 2.5rem;
}

.hero p {
	font-size: 1.3rem;
}

/* Competencies */

.competencies {
	padding: 1rem;
}
.competencies-item,
.portfolio-item {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	padding: 1em;
	margin: 1rem;
	border-radius: 25px;
}

.competencies h2 {
	margin: 1em;
	font-size: 2rem;
}

.competencies p {
	font-size: 0.8rem;
}

.competencies-container {
	margin: 1em;
}

.competencies-container p {
	padding-bottom: 1em;
}

/* About Me */

.about-me-container {
	max-width: 700px;
}

@media (max-width: 700px) {
	.about-me-container {
		padding: 2rem;
	}
}

.about-me p,
.about-me h2 {
	margin: 1em 0;
}

.about-img {
	border-radius: 50px;
}

/* Portfolio */

.portfolio h2 {
	text-align: center;
	margin: 1em;
}
.portfolio-img {
	max-width: 70px;
}

/* Contact Me */

.contact {
	text-align: center;
}
.contact h2 {
	margin-bottom: 2em;
}

.contact a {
	margin: 0 2em;
}
